.form {
    min-height: 50px;
}

.form_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.form_main input {
    padding: 5px;
    border-radius: 5px;
    border-color: #94a9de;
    width: 100%;
    outline: none;
}

.form input:focus {
    border-color: #355083;
}

.form_main .input_error {
    background-color: pink;
}

.error {
    color: red;
}